<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>musicTOWN</title>
</head>
<body>
    <h3>カートの中身</h3>
    <ul>
        {% for l in list %}
        <li>アーティスト名:{{l[0]}} 曲名：{{l[1]}} 値段：{{l[2]}}円</li>
        {% endfor %}
    </ul>
    <a href="{{url_for('buy')}}">購入</a>
    <a href="{{url_for('home_get')}}">戻る</a>
</body>
</html>