<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>ログイン</title>
</head>
<body>
    {% if error != None %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
    <h3>ログイン画面</h3>
    <form action="{{url_for('home')}}" method="post">
        ログインID:<input type="text" name="id"><br>
        PW:<input type="password" name="pw"><br>
        <input type="submit" value="ログイン">
    </form>
    <form action="{{url_for('top')}}">
        <input type="submit" value="戻る">
    </form>
</body>
</html>